<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamax.alleyoop.dao.DicBrandMapper">
  <resultMap id="BaseResultMap" type="com.teamax.alleyoop.entity.DicBrand">
    <id column="BrandCode" jdbcType="INTEGER" property="brandCode" />
    <result column="BrandName" jdbcType="VARCHAR" property="brandName" />
    <result column="CategoryCode" jdbcType="INTEGER" property="categoryCode" />
    <result column="Picture01" jdbcType="VARCHAR" property="picture01" />
    <result column="Sales" jdbcType="INTEGER" property="sales" />
    <association column="CategoryCode" property="category"  select="getCategory"/>
  </resultMap>
  <resultMap id="CategoryResultMap" type="com.teamax.alleyoop.entity.DicCategory">
    <id column="CategoryCode" jdbcType="INTEGER" property="categoryCode" />
    <result column="CategoryName" jdbcType="VARCHAR" property="categoryName" />
  </resultMap>
  <select id="getCategory" parameterType="java.lang.Integer" resultMap="CategoryResultMap">
    select * from dic_category where CategoryCode = #{CategoryCode}
  </select>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BrandCode, BrandName, CategoryCode, Picture01, Sales
  </sql>
  <select id="selectByExample" parameterType="com.teamax.alleyoop.entity.DicBrandExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dic_brand
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dic_brand
    where BrandCode = #{brandCode,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dic_brand
    where BrandCode = #{brandCode,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.teamax.alleyoop.entity.DicBrandExample">
    delete from dic_brand
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.teamax.alleyoop.entity.DicBrand">
    insert into dic_brand (BrandCode, BrandName, CategoryCode
      )
    values (#{brandCode,jdbcType=INTEGER}, #{brandName,jdbcType=VARCHAR}, #{categoryCode,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.teamax.alleyoop.entity.DicBrand">
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="brandCode">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dic_brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="brandCode != null">
        BrandCode,
      </if>
      <if test="brandName != null">
        BrandName,
      </if>
      <if test="categoryCode != null">
        CategoryCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="brandCode != null">
        #{brandCode,jdbcType=INTEGER},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null">
        #{categoryCode,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.teamax.alleyoop.entity.DicBrandExample" resultType="java.lang.Long">
    select count(*) from dic_brand
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dic_brand
    <set>
      <if test="record.brandCode != null">
        BrandCode = #{record.brandCode,jdbcType=INTEGER},
      </if>
      <if test="record.brandName != null">
        BrandName = #{record.brandName,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryCode != null">
        CategoryCode = #{record.categoryCode,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dic_brand
    set BrandCode = #{record.brandCode,jdbcType=INTEGER},
      BrandName = #{record.brandName,jdbcType=VARCHAR},
      CategoryCode = #{record.categoryCode,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.teamax.alleyoop.entity.DicBrand">
    update dic_brand
    <set>
      <if test="brandName != null">
        BrandName = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null">
        CategoryCode = #{categoryCode,jdbcType=INTEGER},
      </if>
    </set>
    where BrandCode = #{brandCode,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.teamax.alleyoop.entity.DicBrand">
    update dic_brand
    set BrandName = #{brandName,jdbcType=VARCHAR},
      CategoryCode = #{categoryCode,jdbcType=INTEGER}
    where BrandCode = #{brandCode,jdbcType=INTEGER}
  </update>

  <select id="getMostPopularBrand" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from dic_brand where CategoryCode = #{category} order by sales desc limit 0,4
  </select>

  <select id="getBrandList" parameterType="java.util.Map" resultType="com.teamax.alleyoop.entity.A">
    select BrandCode id,0 pid,BrandName name,'brand' type,CategoryCode category,Picture01 pictures  from dic_brand where 1 = 1
    <if test="categoryCode!=null and categoryCode!=''">
      AND CategoryCode = #{categoryCode}
    </if>
    <if test="brandName!=null and brandName!=''">
      AND BrandName like CONCAT('%','${brandName}','%' )
    </if>
  </select>

  <select id="getSeriesInBrand" parameterType="java.util.List" resultType="com.teamax.alleyoop.entity.A">
    select SeriesCode id,BrandCode pid,SeriesName name, 'series' type, '' category,'' pictures from dic_series where 1=1
    <if test="brands != null">
      <foreach collection="brands" item="item" open="and BrandCode in(" separator="," close=")">
        #{item.id}
      </foreach>
    </if>
  </select>
</mapper>